amqp==5.1.1
appnope==0.1.3
asgiref==3.6.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
billiard==3.6.4.0
black==23.1.0
boto3==1.26.89
botocore==1.29.89
cachetools==5.3.0
celery==5.2.7
chardet==5.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
decorator==5.1.1
distlib==0.3.6
dj-config-url==0.1.1
dj-database-url==1.2.0
Django==4.1.7
django-celery-results==2.4.0
django-extensions==3.2.1
django-heroku==0.3.1
django-storages==1.13.2
django-widget-tweaks==1.4.12
django_debug_toolbar==3.8.1
executing==1.2.0
Faker==17.5.0
filelock==3.9.0
flake8==5.0.4
flake8-bugbear==23.2.13
flake8-builtins==2.1.0
flake8-django==1.1.5
flake8-import-order==0.18.2
flake8-plugin-utils==1.3.2
flake8-polyfill==1.0.2
flake8-print==5.0.0
flake8-quotes==3.3.2
flake8-return==1.2.0
flake8-spellcheck==0.28.0
gprof2dot==2022.7.29
graphviz==0.20.1
gunicorn==20.1.0
ipython==8.11.0
jedi==0.18.2
jmespath==1.0.1
kombu==5.2.4
matplotlib-inline==0.1.6
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.0
parso==0.8.3
pathspec==0.11.0
pep8-naming==0.13.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
pluggy==1.0.0
prompt-toolkit==3.0.38
psycopg2==2.9.5
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.9.1
pydocstyle==6.3.0
pyflakes==2.5.0
Pygments==2.14.0
pyproject_api==1.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-http-client==3.3.7
pytz==2022.7.1
redis==4.5.1
s3transfer==0.6.0
sendgrid==6.9.7
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.4.3
stack-data==0.6.2
starkbank-ecdsa==2.2.0
tblib==1.7.0
tomli==2.0.1
tox==4.4.6
traitlets==5.9.0
urllib3==1.26.15
vine==5.0.0
virtualenv==20.20.0
wcwidth==0.2.6
whitenoise==6.4.0
