{% extends "base_generic.html" %}

{% load static %}

{% block extra_js %}
{% endblock %}

{% block content %}

<ul class="container-fluid">
  <div class="row">
    <div class="col-sm-2 m-3 p-3">
        <h1>Welcome</h1>
        to
        <h1><em>Blog App</em>!</h1>
        <p>The Blog App has the following record counts:</p>
        <li><strong>Posts:</strong> {{ num_posts }}</li>
        <li><strong>Topics:</strong> {{ num_topics }}</li>
        <li><strong>Users:</strong> {{ num_users }}</li>
    </div>

    <div class="col-sm-8">
        {% for post in object_list %}
        <div class="card">
        {% if post.image %}
            <img src="{{ post.image.url }}" style="max-width:20%;" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
        <a href="{% url 'blog_app:post-detail' post.id %}">
          <h2 class="card-title my-3">{{ post.title }} </h2>
        </a>
        <div class="text-muted mb-3">
                <div>
                  <span>created: {{ post.created_on|date:"j N, Y" }} |</span>
                  <span>updated: {{ post.updated_on|timesince }} ago |</span>
                  by author: <a href="{% url 'blog_users:profile' post.author.username %}">
                  <span>{{ post.author.username }}</span>
                </div>

                <div>
                    {% for topic in post.topics.all %}
                    <a  href="{% url 'blog_app:topic-detail' topic.id %}">
                    <li>Topic: {{ topic }}</li></a>
                    {% endfor %}
                </div>
        </div>
        <p>{{ post.content|truncatewords:20 }}</p>
        <a class='btn btn-primary' href="{% url 'blog_app:post-detail' post.id %}">Read more ...</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</ul>
  <hr>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

{% endblock %}