<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Blog App{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
          integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
          crossorigin="anonymous"></script>

  <script src="{% static 'js/contact.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/base_generic.css' %}">


  {% block extra_css %}
  {% endblock %}
  {% block extra_js %}
  {% endblock %}
</head>

<body>

<!-- Messages -->
{% if messages %}
<div class="container-fluid p-0">
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show">
          {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<!-- /Messages -->

<nav class="navbar navbar-expand-sm navbar bg-dark">
  <div class="container">
    <a href="{% url 'blog_app:index' %}"
      class="navbar-brand">
        Blog App
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="{% url 'blog_app:index' %}" class="nav-item nav-link">Home</a>
        <a href="{% url 'blog_app:posts' %}" class="nav-item nav-link">All Posts</a>
        <a href="{% url 'blog_app:topics' %}" class="nav-item nav-link">All Topics</a>
        <a href="{% url 'blog_users:password_reset' %}" class="nav-item nav-link">Password Reset</a>
        <p>
          <button type="button" class="btn btn-outline-info js-contact" data-url="{% url 'blog_app:contact' %}">
            <span class="glyphicon glyphicon-plus"></span>
            Contact Us
          </button>
        </p>

          {% if request.user.is_authenticated %}
            <div class="navbar-nav ml-auto">

              <a href="{% url 'blog_users:profile' request.user.username %}"
                class="nav-item nav-link {% if request.user.username in request.path %}active{% endif %}">
                  Profile
              </a>

              <a href="{% url 'blog_users:logout' %}"
                class="nav-item nav-link">
                  Log Out
              </a>

              <a href="{% url 'blog_app:post-create' %}"
                class="nav-item nav-link {% if request.path == '/post/create/' %}active{% endif %}">
                  Create a post
              </a>

            </div>

          {% else %}
            <div class="navbar-nav ml-auto">

              <a href="{% url 'blog_users:login' %}"
                class="nav-item nav-link {% if request.path == '/blog_users/login/' %}active{% endif %}">
                  Log in
              </a>

              <a href="{% url 'blog_users:signup' %}"
                class="nav-item nav-link {% if request.path == '/blog_users/signup/' %}active{% endif %}">
                  Sign up
              </a>

            </div>
          {% endif %}

      </div>
    </div>
  </div>
 </nav>

<div class="container-fluid" style="background-color: whitesmoke">
    <div class="row">
      <div class="col-sm-2" style="background-color: mistyrose">
      {% block sidebar %}
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
                <p>User:</p>
                <h2 id="us">{{ request.user.username }}</h2>
                <hr>
                <p><a href="{% url 'blog_app:my-posts' %}">
                  <button type="button" class="btn btn-outline-primary">
                      My Posts
                  </button>
                </a></p>
            {% endif %}
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
               <p><a href="{% url 'admin:index' %}">
                   <button type="button" class="btn btn-outline-primary">
                        Admin
                   </button>
               </a></p>
       </ul>
      </div>
      {% endblock %}
<!--    </div>-->
<!--  </div>-->

<div class="col-sm-10 ">
  {% block content %}
  {% endblock %}
</div>

<!-- Pagination -->
{% block pagination %}
{% if is_paginated %}
  <div class="row">
    <nav class="col-lg-6 offset-lg-3 mt-4 d-flex justify-content-center">
      <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Previous</a>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        <li class=" page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}
{% endblock %}
<!-- /Pagination -->

<!-- Modal Window -->
<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
</div>
<!-- /Modal Window -->

</body>
</html>
